#anime_page {
    display: flex;
    flex-direction: row;
}

#anime_page > * {
    margin: 1rem;
}

#anime_page > *:first-child {
    width: 30%;
    margin: 70px 10px;
}

#anime_page > *:last-child {
    width: 65%;
}

#atropos {
    margin: 0 auto;
}

#atropos > span > span::after {
    content: "";
    position: absolute;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    top: -6px;
    background: #086ef4;
    z-index: -1;
    border-radius: 12px;
}

.epText {
    width: fit-content;
}

.epText > *:last-child {
    font-size: 0.9rem;
}

.epText:hover > * {
    color: #01B5D5;
}

#box {
    background-color: #353535;
    padding: 10px;
    border-radius: 12px;
    margin-top: 1rem;
    width: 100%;
}
#episodes{
    overflow-y: scroll;
    min-height: fit-content;
    max-height: 500px;
}

@media screen and (max-width: 768px) {
    #anime_page {
        flex-direction: column;
    }
    #anime_page > *:first-child {
        width: 100%;
        margin: 10px 0;
    }
    #anime_page > *:last-child {
        width: 100%;
    }
    #anime_page > * {
        margin: 1rem 0;
    }
}
