.container{
    padding: 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 18em;
}
.container:hover{
    overflow: visible;
    text-overflow: unset;
    white-space: unset;
}


.title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: open sans,sans-serif;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    text-overflow: ellipsis;
}

.episode {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: open sans,sans-serif;
}
