.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-gap: 10px;
    justify-content: center;
}
.grid > a {
    text-decoration: none;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.textContainer {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 0.5rem;
    text-align: center;

}

@media (max-width: 450px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    }
}
