.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-gap: 10px;
    justify-content: space-between;
}
.grid > a {
    text-decoration: none;
}
.grid > a:hover {

}
.imageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 3px solid #086ef4;
}

.textContainer {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;

}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.buttons > * {
    padding: 0.5rem 1rem;
    border: 1px solid #262627;
    background-color: #262627;
    color: #1CDDFE;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-bottom: 50px;
}
/*first and last child with border radius in left or right*/
.buttons > *:first-child {
    border-radius: 99999px 0 0 99999px;
}
.buttons > *:last-child {
    border-radius: 0 99999px 99999px 0;
}

.buttons > *:hover {
    background-color: #01B5D5;
    color: #18181B;
    border: 1px solid #1CDDFE;
}


@media (max-width: 450px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    }
}
